{% extends "base.html" %}

{% block title %}Tableau de bord admin - Bain-de-Bretagne Tennis de Table{% endblock %}

{% block content %}

<section class="admin-section">
    <div class="admin-card">
        <h2>Tableau de bord</h2>
        <p>Vous êtes connecté à l’espace administrateur.</p>

        <div class="admin-actions">
            <a href="{{ url_for('main.admin_matchs') }}">Modifier les matchs</a>
            <a href="#">Modifier les textes</a>
            <a href="{{ url_for('main.admin_logout') }}">Se déconnecter</a>
        </div>
    </div>
</section>

{% endblock %}