<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Site du club de tennis de table de Bain-de-Bretagne : entraînements, compétitions, tarifs, inscriptions et contact.">
    <title>{% block title %}Bain-de-Bretagne Tennis de Table{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header class="site-header">
        <div class="top-banner">
            <div class="club-identity">

                <img class="header-icon icon-left" src="{{ url_for('static', filename='images/leftIcon.png') }}"
                    alt="Icône tennis de table">

                <img class="club-logo-img" src="{{ url_for('static', filename='images/logo.png') }}"
                    alt="Logo Bain-de-Bretagne Tennis de Table">

                <div class="club-title">
                    <h1>Bain de Bretagne Tennis de Table</h1>
                    <p>Loisir · Compétition · Jeunes · Tournoi · Convivialité</p>
                </div>

                <img class="header-icon icon-right" src="{{ url_for('static', filename='images/rightIcon.png') }}"
                    alt="Icône tennis de table">

            </div>
        </div>

        <nav class="navbar">
            <a href="{{ url_for('main.home') }}">Accueil</a>
            <a href="{{ url_for('main.club') }}">Présentation Du Club</a>
            <a href="{{ url_for('main.horaires') }}">Entrainements</a>
            <a href="{{ url_for('main.calendrier_competitions') }}">Calendrier Compétitions</a>
            <a href="{{ url_for('main.tarifs') }}">Tarifs / Inscriptions</a>
            <a href="{{ url_for('main.contact') }}">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <p>&copy; 2026 Bain-de-Bretagne Tennis de Table - Site réalisé dans le cadre d’un stage L3 Informatique</p>
    </footer>

    <script>
        const carouselImages = [
            "{{ url_for('static', filename='images/club1.jpg') }}",
            "{{ url_for('static', filename='images/club2.jpg') }}",
            "{{ url_for('static', filename='images/club3.jpg') }}"
        ];

        let currentSlide = 0;

        function changeSlide(direction) {
            const image = document.getElementById("carousel-image");

            if (!image) {
                return;
            }

            currentSlide = currentSlide + direction;

            if (currentSlide < 0) {
                currentSlide = carouselImages.length - 1;
            }

            if (currentSlide >= carouselImages.length) {
                currentSlide = 0;
            }

            image.src = carouselImages[currentSlide];
        }
    </script>

</body>

</html>