{% extends "base.html" %}

{% block title %}Critérium fédéral - Bain-de-Bretagne Tennis de Table{% endblock %}

{% block content %}

<section class="page-hero">
    <div class="page-hero-content">
        <h2>Critérium fédéral</h2>
        <p>
            Retrouvez les dates du championnat individuel pour la saison 2025-2026.
        </p>
    </div>
</section>

<section class="criterium-section">
    <div class="criterium-intro">
        <h2>Championnat individuel</h2>
        <p>
            Le Critérium Fédéral est une compétition phare du tennis de table français, articulée autour de plusieurs
            rendez-vous tout au long de la saison. Ouvert à tous les niveaux et à toutes les catégories d’âge, il offre
            à chaque joueur l’opportunité de progresser, de se confronter à de nouveaux adversaires et de gravir les
            échelons vers le haut niveau.
        </p>
    </div>

    <div class="criterium-list">

        <div class="criterium-item">
            <div>
                <h3>1er tour</h3>
                <p>Châtenay-Malabry</p>
            </div>
            <span>17 au 19 octobre 2025</span>
        </div>

        <div class="criterium-item">
            <div>
                <h3>2ème tour</h3>
                <p>Joué-lès-Tours</p>
            </div>
            <span>21 au 23 novembre 2025</span>
        </div>

        <div class="criterium-item">
            <div>
                <h3>3ème tour</h3>
                <p>Auch</p>
            </div>
            <span>22 au 25 janvier 2026</span>
        </div>

        <div class="criterium-item">
            <div>
                <h3>4ème tour</h3>
                <p>Pont-à-Mousson</p>
            </div>
            <span>13 au 15 mars 2026</span>
        </div>

    </div>
</section>

{% endblock %}